numpy
nibabel
scipy
scikit-image
scikit-learn
matplotlib
polars
monai
torch
numba
torchmetrics
pydantic-settings
fastapi
uvicorn
pydantic
# Adaugă această dependință pentru health monitoring:
psutil
python-multipart
python-decouple